@model IEnumerable<TelePSocial.Entidades.PubliUsers>

@{
    ViewData["Title"] = "Home Page";
    var user = (string)ViewBag.nombre;
    var photo = (string)ViewBag.photo;
    var DesImage = (string)ViewBag.DesImage;
     
}

<div id="bodysocial">
    <div class="row">
        <div class="col col-md-4"></div>
        <div class="col col-md-4 text-center">
            <br />
            <br />
            <a asp-action="CreatePubli" asp-controller="PubliUsers" class="btn btn-dark add-dialog-window"> Crear publicación </a>
            <br />
            <br /> 
            <div class="container">
                @if(Model.Count() != 0){
                    @foreach(var item in Model)
                    {
                        <br />
                        <br />
                        <div class="card text-left">
                            <div class="card-header headerPubli">
                                @if (!string.IsNullOrEmpty(item.userpubli.PhotoPerfil))
                                {
                                     <a asp-action="verPerfil" asp-controller="User" asp-route-idd="@item.userpubli.UserName" ><img class="mr-3 rounded" src=@Url.Content(item.userpubli.DesImage)  width="45" height="45"  alt="Generic placeholder image"></a>  @item.userpubli.Nombre_Usuario
                
                                }else{
                                     <a asp-action="verPerfil" asp-controller="User" asp-route-idd="@item.userpubli.UserName" ><img class="mr-3 rounded" src="~/images/Feed/usernot.jpg"  width="45" height="45"  alt="Generic placeholder image"></a>  @item.userpubli.Nombre_Usuario
                                } 
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@item.DesTitle</h5>
                                <p class="card-text">@item.DesPublic .</p>
                            </div>
                            <section>
                                <hr>
                                    <ul class="list-unstyled">
                                      @foreach(var items in item.Comentarios){
                                        <li class="media" style="background: #F5F7FA;">
                                            @if (!string.IsNullOrEmpty(items.photo))
                                            {
                                                <a asp-action="verPerfil" asp-controller="User" asp-route-idd="@items.username" ><img class="mr-3" src=@Url.Content(items.desPhoto)  width="30" height="30"  alt="Generic placeholder image"></a> 
                
                                            }else{
                                                <a asp-action="verPerfil" asp-controller="User" asp-route-idd="@items.username" ><img class="mr-3" src="~/images/Feed/usernot.jpg"  width="30" height="30"  alt="Generic placeholder image"></a> 
                                            } 
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1">@items.usuario</h5>
                                                @items.DesComment
                                            </div>
                                        </li>   
                                        } 
                                    </ul>
                                </section>
                            <div class="card-footer text-muted">
                                <a class="btn btn-link">@item.CantiLikes me gustas</a>
                                @if (item.CanLike)
                                {
                                    <a asp-action="LikePubli" asp-controller="PubliUsers" asp-route-idd="@item.idPubliUsers" class="btn btn-link ">Like it</a>
                                }
                                @item.FecPublic.ToString().Substring(0,10) @item.HorPublic.ToString().Substring(0,5) 
                                    <a asp-action="Comentar" asp-controller="PubliUsers" asp-route-idd="@item.idPubliUsers" class="btn btn-default addComen-dialog-window ">Añadir Comentario</a>

                            </div>
                        </div>
                        <br />
                        <br />
                    }
                } 
            </div> 
            
        </div>
        <div id="Bodyright" class=" col-md-4 text-right">
            <div  >
            @if (!string.IsNullOrEmpty(photo))
            {
                <p>@user</p><a asp-controller="User" asp-action="Index"><img id="PerfilImage" src=@Url.Content(@DesImage) style="width:100px;max-width: 100%; height: auto;" /></a>
                
            }else{
                <p>@user</p><a asp-controller="User" asp-action="Index"><img id="PerfilImage" src="~/images/Feed/usernot.jpg"/></a>
            }
            </div>
        </div> 
    </div> 
</div>


<div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#17a2b8;color:white;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Agregar Sistema</h2>
            </div>
            <div class="modal-body">
                <div class="teeee">Please wait...</div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="Add" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear publicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
          <div class="teeee"></div>
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div>
<div class="modal" id="AddComen" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear publicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
          <div class="teeeeComen"></div>
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div>
@section scripts{

<script>
      $("body").on("click", "a.add-dialog-window", null, function (e) {
            e.preventDefault();
            var $link = $(this);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#Add').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#Add .teeee').html(data);
                    $('#Add').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });
        $("body").on("click", "a.addComen-dialog-window", null, function (e) {
            e.preventDefault();
            var $link = $(this);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#AddComen').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#AddComen .teeeeComen').html(data);
                    $('#AddComen').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });
        
</script>
}